body {
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    opacity: 1;
    transition: opacity 1s;
    max-width: 500px;
    margin-top: 25%;
    display: inline-block;
    text-align: left;
}

.hidden {
    opacity: 0;
}

.section {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(135deg, #f77f56 0, #ef6cac 100%);
    opacity: 1;
    text-align: center;
}

h1 {
    font-weight: 100;
    letter-spacing: 20px;
    font-size: 55px;
    margin: 0;
}

h2, h3 {
    letter-spacing: 2px;
}

.subtext {
    letter-spacing: 8px;
    font-size: 15px;
}

a {
    background-color: transparent;
    border: 2px solid white;
    display: inline-block;
    padding: 14px 20px;
    text-align: center;
    margin: 40px 0;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    transition: all 0.2s;
    color: white;
}

a:hover {
    background-color: white;
    color: #366ad4;
}

.btn-wrap {
    text-align: center;
}

.privacy {
    font-weight: 100;
    padding: 3% 10%;
    width: 80%;
    text-align: left;
}

@media (max-width: 635px) {

    h1 {
        font-size: 39px;
    }

    p {
        font-size: 9.5px;
    }

    a {
        font-size: 11px;
    }

}

@media (max-width: 515px) {

    .hero {
        max-width: 324px;
    }

    h1 {
        font-size: 27px;
    }

    p {
        font-size: 11px;
        line-height: 2;
        text-align: center;
    }

    a {
        font-size: 11px;
    }

}

@media (min-width: 1024px) {

    .hero {
        margin-top: 275px;
    }

}